body{
	padding-left: 0.5em;
	padding-right: 0.5em;
	background:pink;
}

ul{
	list-style:none;
	padding:0;
}

label{
	display: block;
}

fieldset{
	border: none;
	padding:0;
}

fieldset legend{
	font-weight: bold;
}

select{
	width: 98%;
	height:2em;
	vertical-align:middle;
	border-radius:1em;
	margin:1%;
	appearance:none;
}

input{
	width: 98%;
	height:2em;
	line-height:2em;
	vertical-align:middle;
	border-radius:1em;
	border:1px solid gray;
	margin:1%;
}


h1{
	font-size: 1.5em;
}

footer{
	
	padding: 1%;
}