body{
	padding-left: 0.5em;
	padding-right: 0.5em;
	background:pink;
	color:#384049;
}

ul{
	list-style:none;
	padding:0;
}

label{
	display: block;
}

fieldset{
	border: none;
	padding:0;
}

fieldset legend{
	font-weight: bold;
}

select{
	width: 98%;
	height:2em;
	vertical-align:middle;
	border-radius:1em;
	border:none;
	margin:1%;
	padding-left:1%;
	-webkit-appearance: none;
    -moz-appearance: none;
	appearance:none;
	color:#384049;
	background:white;
}

select:focus{
	border: 1px solid green;
}

input{
	width: 96%;
	height:2em;
	line-height:2em;
	vertical-align:middle;
	border-radius:1em;
	border:none;
	margin:1%;
	padding-left:2%;
	color:#384049;
}

input:focus{
	border: 1px solid green;
}

h1{
	font-size: 1.5em;
}

footer{
	
	padding: 1%;
	font-size:0.9em;
}